.search__input {
  width: 100%;
  padding: 24px;
  backdrop-filter: blur(8px);
  border-radius: inherit;
  border: 1px solid #D1D2D6;
  font-size: 16px;
  font-weight: 400;
  color: #1a1b22;
}

.search__input::placeholder {
  color: #b6bcbf;
}

.search__input:active, :hover, :focus {
  outline: none;
}

.search__input:focus {
  border: 1px solid skyblue;
}

@media screen and (max-width: 1000px) {
  .search__input {
    padding: 20px;
  }
}

@media screen and (max-width: 425px) {
  .search__input {
    width: auto;
  }
}
