@import url('./_active/button_active.css');
@import url('./_inactive/button_inactive.css');
@import url('./_type/button_type_load-more.css');
@import url('./_is-hidden/button_is-hidden.css');

.button {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 500;
  cursor: pointer;
  border-radius: 100px;
  color: #fff;
  background-color: #2f71e5;
}

.button:disabled {
  background-color: #e6e8eb;
  color: #B6BCBF;
}
