.header__menu-link_active {
  border-bottom: 3px solid;
  padding-bottom: 25px;
  color: inherit;
}

@media screen and (max-width: 1000px) {
  .header__menu-link_active {
    padding-bottom: 20px;
  }
}
