.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1vw;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1000px) {
  .cards-container {
    padding-top: 22px;
    padding-bottom: 22px;
  }
}
