.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1vw;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1000px) {
  .cards-container {
    padding-top: 22px;
    padding-bottom: 22px;
  }
}

@media screen and (max-width: 767px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .cards-container {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5vw;
  }
}

@media screen and (max-width: 425px) {
  .cards-container {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3vw;
  }
}
