@import url('./__search/search-results__search.css');
@import url('./__title/search-results__title.css');
@import url('./__description/search-results__description.css');
@import url('./__not-found-icon/search-results__not-found-icon.css');
@import url('./_is-visible/search-results_is-visible.css');
@import url('./__result-wrapper/search-results__result-wrapper.css');
@import url('./__cardsblock-title/search-results__cardsblock-title.css');

.search-results {
  display: none;
  flex-direction: column;
  background-color: #f5f6f7;
}
