@import url('./__image-container/card__image-container.css');
@import url(./__image/card__image.css);
@import url(./__icons-container/card__icons-container.css);
@import url(./__icon/card__icon.css);
@import url('./__icons-wrapper/card__icons-wrapper.css');
@import url(./__info-container/card__info-container.css);
@import url('./__date/card__date.css');
@import url('./__title/card__title.css');
@import url('./__description/card__description.css');
@import url('./__news-link/card__news-link.css');
@import url('./__source-link/card__source-link.css');

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  max-height: 576px;
}

.card:hover:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000;
  opacity: 0.05;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .card {
    max-height: 420px;
  }
}

@media screen and (max-width: 767px) {
  .card {
    max-height: 550px;
  }
}
