.card__icon_type_delete {
  background-image: url('../../../../images/icon-delete-news.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.card__icon_type_delete:hover ~ .card__icon_type_message {
  display: flex;
}

.card__icon_type_delete:hover {
  background-image:url('../../../../images/icon-delete-news-hover.svg');
}