.header__menu {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 425px) {
  .header__menu {
    /* display: none; */
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
  }
}
