.button.button_type_load-more {
  align-self: center;
  background-color: #fff;
  color: #1a1b22;
  min-width: 288px;
  min-height: 64px;
  border: 0;
  font-size: 18px;
}

.button_type_load-more:hover {
  background-color: #e8e8e9;
}

@media screen and (max-width: 1000px) {
  .button_type_load-more {
    min-width: 240px;
    min-height: 56px;
  }
}
