<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>News Explorer</title>
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">
</head>

<body class="page">
  <div class="head-wrapper">
    <header class="header page__fields">
      <a class="header__logo" href="/">NewsExplorer</a>
      <ul class="header__menu">
        <li>
          <a class="header__menu-link header__menu-link_active" href="/">Главная</a>
        </li>
        <li>
          <a class="header__menu-link header__menu-link_type_button" href="/">Авторизоваться</a>
        </li>
      </ul>
    </header>
    <div class="search">
      <div class="search__column-wrapper">
        <h1 class="search__title">Что творится в мире?</h1>
        <p class="page-text">
          Находите самые свежие статьи на любую тему и сохраняйте в своём личном кабинете.
        </p>
        <form class="search__form" name="search">
          <input type="text" name="query" class="search__input" placeholder="Введите тему новости" minlength="2"
            maxlength="30">
          <button type="submit" class="button search__button">Искать</button>
        </form>
      </div>
    </div>
  </div>

  <article class="about page__fields">
    <picture>
      <source srcset="<%=require('./images/avatar-mobile.jpg')%>" media="(max-width: 320px)">
      <source srcset="<%=require('./images/avatar-tablet.jpg')%>" media="(max-width: 768px)">
      <img class="about__avatar" src="<%=require('./images/avatar-full.jpg')%>" alt="Аватар автора">
    </picture>
    <div class="about__info">
      <h1 class="page__title">
        Об авторе
      </h1>
      <p class="about__paragraph page__text">
        Это блок с описанием автора проекта. Здесь следует указать, как вас зовут, чем вы занимаетесь, какими
        технологиями разработки владеете.
      </p>
      <p class="about__paragraph page__text">
        Также можно рассказать о процессе обучения в Практикуме, чему вы тут научились, и чем можете помочь
        потенциальным заказчикам.
      </p>
    </div>
  </article>
  <footer class="footer page__fields">
    <div class="footer__copyright">
      &#169; 2020 Supersite, Powered by News API
    </div>
    <div class="footer__resources">
      <ul class="footer__links">
        <li><a class="footer__link page__text" href="/">Главная</a></li>
        <li><a class="footer__link page__text" href="https://praktikum.yandex.ru/">Яндекс.Практикум</a></li>
      </ul>
      <ul class="footer__links">
        <li>
          <a href="https://github.com/yagushevskij" class="footer__social-icon"><img
              src="<%=require('./images/icon-github.svg')%>"></a>
        </li>
        <li>
          <a href="https://www.facebook.com/yagushevskij" class="footer__social-icon"><img
              src="<%=require('./images/icon-facebook.svg')%>"></a>
        </li>
      </ul>
    </div>
  </footer>

  <!-- <template id="login-popup"> -->
  <div class="popup popup_is-opened">
    <div class="popup__content">
      <img src="<%=require('./images/close.svg')%>" alt="" class="popup__close">
      <h2 class="popup__title">Редактировать профиль</h2>
      <form class="popup__form" name="login">
        <label>Email
          <input type="text" name="email" class="popup__input" placeholder="введите почту" required>
        </label>
        <span class="error-message"></span>
        <label>Пароль
          <input type="text" name="about" class="popup__input" placeholder="Введите пароль" required>
        </label>
        <span class="error-message"></span>
        <button type="submit" class="button popup__button popup__button_function_save">Войти</button>
      </form>
      <p class="popup__anymore">или <span><a href="/">Зарегистрироваться</a></span></p>
    </div>
  </div>
  <!-- </template> -->

  <script type="module" src="<%= htmlWebpackPlugin.files.js %>"></script>
</body>

</html>