@import url(./__content/popup__content.css);
@import url(./__close/popup__close.css);
@import url(./__title/popup__title.css);
@import url(./__form/popup__form.css);
@import url(./__input/popup__input.css);
@import url(./_is-opened/popup_is-opened.css);
@import url('./__field-title/popup__field-title.css');
@import url('./__button/popup__button.css');
@import url('./__alt-container/popup__alt-container.css');
@import url('./__alt-link/popup__alt-link.css');
@import url('./__backend-error-message/popup__backend-error-message.css');
@import url('./__frontend-error-message/popup__frontend-error-message.css');

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
